* {
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.body {
  background-color: beige;
}

.container {
  background-color: whitesmoke;
  padding: 5%;
  margin: 5% 10%;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.image {
  align-self: center;
  width: 80%;
  border-radius: 2%;
}
